.join-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e1e2f;
  border-radius: 12px;
}

/* Card central */
.join-card {
  background: #282845;
  padding: 40px;
  width: 350px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 20px #0005;
}

/* Título */
.join-card h1 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 600;
}

/* Input */
.join-card input {
  width: 100%;
  padding: 14px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #1b1b2e;
  color: white;
  font-size: 15px;
  transition: 0.2s;
}

.join-card input:focus {
  box-shadow: 0 0 0 2px #4f46e5;
}

/* Botão */
.join-card button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #4f46e5;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s;
}

.join-card button:hover {
  background: #3730a3;
}
