/*CONTAINER GERAL (2 colunas) */
.relatos-page {
  display: flex;
  gap: 30px;
  padding: 40px;
  padding-top: 100px;
  background: #003399;
}

/* LEFT - FORM */
.relatos-form-container {
  width: 30%;
  background: #fff;
  padding: 25px;
  
  border-radius: 10px;
  box-shadow: 0 0 10px #dce3ff;
  height: fit-content;
}

.relatos-form-container h2 {
  margin-bottom: 10px;
  color: #003399;
}

.relatos-form-container p {
  color: #003399;
  margin-bottom: 20px;
}

.relatos-form-container label {
  font-weight: bold;
  margin-top: 15px;
  display: block;
  color: #003399;
}

.relatos-form-container input,
.relatos-form-container textarea {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 6px;
  border: 1px solid #cccccc;
}

.relatos-form-container button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: #003399;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.relatos-form-container button:hover {
  background: #001f66;
}

/* ===== RIGHT - VIDEOS ===== */
.videos-section {
  width: 70%;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #dce3ff;
}

.videos-section h1 {
  color: #003399;
}

.intro-text {
  color: #001f66;
  margin-bottom: 25px;
}

/* GRID DE 3 EM 3 */
.videos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* ===== CARDS ===== */
.card-video {
  background: #f7f9ff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 6px #cfd8ff;
  text-align: center;
}

.card-video h3 {
  color: #111;
  margin-bottom: 10px;
}
.card-video p {
  color: #111;
}
.card-video iframe {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  border: none;
}

.card-video a {
  display: inline-block;
  margin-top: 10px;
  color: #003399;
  font-weight: bold;
}

/* ===== RESPONSIVO ===== */
@media (max-width: 1100px) {
  .relatos-page {
    flex-direction: column;
  }

  .relatos-form-container,
  .videos-section {
    width: 100%;
  }

  .videos-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .videos-grid {
    grid-template-columns: 1fr;
  }
}
